[submodule "DaisySeed/DaisyBootloader"]
	path = DaisySeed/DaisyBootloader
	url = https://github.com/electro-smith/DaisyBootloader.git
[submodule "DaisySeed/libDaisy"]
	path = DaisySeed/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "DaisySeed/DaisyExamples"]
	path = DaisySeed/DaisyExamples
	url = https://github.com/electro-smith/DaisyExamples.git
[submodule "DaisySeed/nam-pedal"]
	path = DaisySeed/nam-pedal
	url = https://github.com/tone-3000/nam-pedal.git
